body {
	background: url('../images/wood.jpg') repeat;
	font-family: "Proxima Nova","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	color: #222222;
	font-style: normal;
}

* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 0.5em;
	margin-top: 0;
	text-rendering: optimizelegibility;
}

.backButton{
	color: #222222;
	position: absolute;
	top: 15px;
	left: 15px;
	text-decoration: none;
	font-size: 1.4em;
	text-shadow: 0px 0px 6px rgba(200, 200, 200, 1);
}

.backButton:hover{
	color: #222222;
	text-decoration: none;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

.pageTitle{
	text-align: center;
	text-shadow: 0px 0px 6px rgba(200, 200, 200, 1);
}

.large-12{
	margin-top: 3em;
}

.textBlock{
  margin-bottom: 10px;
  padding: 10px;
}

/* http://zurb.com/playground/css3-polaroids */
div.polaroids 
{
  text-align: center;
}
div.polaroids div
{
  display: inline;
  padding-left:0;
}

div.polaroids a
{
  background:#fff;
  display:inline-block;
  width:auto;
  max-width:100%;
  text-align:center;
  font-family:"Marker Felt", sans-serif;
  text-decoration:none;
  color:#333;
  font-size:18px;
  -webkit-box-shadow:0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow:0 3px 6px rgba(0,0,0,.25);
  box-shadow:0 3px 6px rgba(0,0,0,.25);
  -webkit-transform:rotate(-2deg);
  -webkit-transition:0 .15s linear;
  transition: .15s linear;
  -moz-transform:rotate(-2deg);
  margin:0 0 27px 30px;
  padding:10px 10px 15px;
}

div.polaroids img
{
  display:block;
  width:190px;
  margin-bottom:12px;
  max-width:100%;
}

div.polaroids a:after
{
  content:attr(title);
}

div.polaroids div:nth-child(even) a
{
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
}

div.polaroids div:nth-child(3n) a
{
  -webkit-transform:none;
  position:relative;
  top:-5px;
  -moz-transform:none;
}

div.polaroids div:nth-child(5n) a
{
  -webkit-transform:rotate(5deg);
  position:relative;
  right:5px;
  -moz-transform:rotate(5deg);
}

div.polaroids div:nth-child(8n) a
{
  position:relative;
  right:5px;
  top:8px;
}

div.polaroids div:nth-child(11n) a
{
  position:relative;
  left:-5px;
  top:3px;
}

div.polaroids div.messy a
{
  margin-top:-400px;
  position:relative;
  left:160px;
}

div.polaroids div a:hover
{
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  box-shadow:0 3px 6px rgba(0,0,0,.5);
  -webkit-box-shadow:0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow:0 3px 6px rgba(0,0,0,.5);
  position:relative;
  z-index:5;
}

.page-view div.polaroids img
{
  width:320px;
  margin-bottom: 0;
}

@media screen and (max-width 768px) {
  div.polaroids div a
  {
    margin-left:0;
  }
}

@media all and (max-width: 450px){
  div.polaroids{
    padding: 0;
  }
  div.polaroids a{
    margin: 0 0 27px;
  }

  div.polaroids div a:hover
  {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
  }
}
